<div class="row">
  <div class="col-lg-12">
    <h1>顧客詳細</h1>
    <dl>
      <dt>お名前</dt>
      <dd><%= @customer.full_name("様") %></dd>
      <dt>電子メール</dt>
      <dd><%= @customer.email %></dd>
      <dt>会社名</dt>
      <dd><%= @customer.company.name %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>対応履歴</h2>
    <% @comments.each do |comment| %>

    <div class="media">
      <div class="media-left">
        <%= image_tag comment.user.image_url, class: 'media-object', width: 64 %>
      </div>
      <div class="media-body">
        <p><%= simple_format(comment.body) %></p>
        <p class="text-muted">
      投稿日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    <%= link_to "削除する", comment_path(comment), method: :delete %>
  </p>
    </p>
    </div>
    </div>
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-lg-12">
    <%= form_for(@comment, url: { controller: :comments, action: :create }) do |f| %>
      <div class="form-group">
        <%= f.label :body , '対応内容' %><br>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <%= f.hidden_field :customer_id, value: @customer.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
